certifi==2023.11.17
click==8.1.7
colorama==0.4.6
decorator==5.1.1
executing==2.0.1
fastjsonschema==2.19.1
Flask==3.0.0
Flask-SocketIO==5.3.6
gunicorn==21.2.0
ipython==8.12.3
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter_core==5.6.1
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
nbformat==5.9.2
numpy==1.24.4
packaging==23.2
pandas==2.0.3
parso==0.8.3
platformdirs==4.1.0
prompt-toolkit==3.0.43
pure-eval==0.2.2
Pygments==2.17.2
python-dateutil==2.8.2
python-engineio==4.8.2
python-socketio==5.11.0
pytz==2023.3.post1
pywin32==306
referencing==0.32.0
requests==2.31.0
rpds-py==0.16.2
scikit-learn==1.3.2
scipy==1.10.1
simple-websocket==1.0.0
six==1.16.0
stack-data==0.6.3
threadpoolctl==3.2.0
traitlets==5.14.0
types-html5lib==1.1.11.15
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wcwidth==0.2.12
webencodings==0.5.1
Werkzeug==3.0.1
wsproto==1.2.0
zipp==3.17.0
